.container {
    background: #f9f9f9;
    padding: 20px 2% 20px 17%;
    transition: 0.3s;
}

.large-container {
    padding-left: 7%;
    transition: 0.3s;
}

@media (max-width: 900px) {
    .large-container,
    .container {
        padding: 0 5%;
    }
}
