* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #5a5a5a;
}

img {
    cursor: pointer;
}

.flex-div {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

ul li {
    list-style: none;
}

/* ::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(255 255 255 / 10%); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(0 0 0 / 80%); 
    border-radius: 10px;
}*/
